@font-face {
    font-family: 'Lato';
    src: url('./font/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFF;
}

img {
    max-width: 100%;
    display: block;
}

.conteiner {
    max-width: 1600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background: #222;
}

.navigation {
    display: flex;
    justify-content: center;
}

.logo_conteiner {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_group1 {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_group2 {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ul_logo_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.li_marker_none {
    list-style-type: none;
}

.logo2 {
    padding-top: 6px;
}

.numb {
    width: 20px;
    height: 20px;
    background: #F16D7F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 150px;
    bottom: 16px;
}

.numb_text {
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section1 {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F1E4E6;
    position: relative;
}

.nav_sec1 {
    display: flex;
    gap: 60px;
}

.menu {
    width: 232px;
    background-color: #FFF;
    position: absolute;
    right: 0px;
}

.hidden {
    display: none;
}

.h3_menu {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 32px;
    padding-left: 33px;
}

.h4_menu {
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    padding-left: 32px;
}

.p_menu {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 12px;
    padding-left: 54px;
}

.p_menu2 {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 12px;
    padding-left: 54px;
    padding-bottom: 32px;
}

.h4_menu2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-left: 32px;
}

.h1_flex {
    display: flex;
    align-items: center;
}

.h1_text {
    padding-left: 16px;
    border-left: 12px #F16D7F solid;
    max-width: 400px;
}

.h1_1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.h2_1 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h2_2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new_conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.new_navigation {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.new_navigation2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.h4_text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3_text {
    color: #F16D7F;
    font-family: Lato;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_1 {
    width: 360px;
    height: 260px;
    background-image: url(../img/women.png);
}

.card_2 {
    width: 360px;
    height: 260px;
    background-image: url(../img/men2.png);
}

.card_3 {
    width: 360px;
    height: 260px;
    background-image: url(../img/men3.png);
}

.card_4 {
    width: 1140px;
    height: 180px;
    background-image: url(../img/image777.png);
}

.card_collor {
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_collor_4 {
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2_text_new {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 6px;
}

.p_text_new {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 50px;
}

.new_navigation3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.men4_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/men4.png);
}

.women2_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/women2.png);
}

.men5_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/men5.png);
}

.men6_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/men6.png);
}

.women3_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/women3.png);
}

.women4_png {
    width: 360px;
    height: 420px;
    background-image: url(../img/women4.png);
}

.card_shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(58, 56, 56, 0.86);
    display: none;
}

.but_add_cart {
    background-color: transparent;
    border: 1px white solid;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    width: 140px;
    padding-top: 11px;
    padding-bottom: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.men4_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.women2_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.men5_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.men6_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.women3_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.women4_png:hover {
    .card_shadow, .but_add_cart {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.new_text {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.new_h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.new_p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 305px;
    padding-bottom: 16px;
}

.new_h4 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex_button {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 40px;
    cursor: pointer;
}

.button:hover {
    background-color: #FF6A6A;
    color: #FFFFFF;
}

.foot_1 {
    max-width: 1600px;
    padding-top: 103px;
    padding-bottom: 104px;
    margin: 0 auto;
    background: #222224;
}

.nav_foot_1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.car {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.car_text_h4 {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.car_text_p {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 16px;
}

.car_space {
    padding-bottom: 28px;
}

.proc_space {
    padding-bottom: 19px;
}

.king_space {
    padding-bottom: 25px;
}

.foot_2 {
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../img/image.png);
}

.foot_2_back {
    height: 100%;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.70);
}

.women_photo {
    width: 360px;
    padding-top: 100px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.women_text {
    padding-top: 30px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.women_text2 {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.women_right_text {
    color: #222224;
    /* text-align: center; */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    padding-top: 150px;
}

.women_right_text_p {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    padding-bottom: 32px;
}

.form_1 {
    display: flex;
    justify-content: center;
}

.email_1 {
    max-width: 256px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: #E1E1E1;
    background-repeat: no-repeat;
    padding: 15px;
}

.sub_1 {
    max-width: 100px;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 14px;
    background-color: #F16D7F;
    background-repeat: no-repeat;
    padding: 15px;
    color: #FFF;
    font-weight: 400;
    cursor: pointer;
}


.women_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_foot_2 {
    display: flex;
    justify-content: center;
    gap: 327px;
}

footer {
    max-width: 1600px;
    margin: 0 auto;
    background: #222224;
}

.art_cont_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_text_p {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 30px;
}

.svg_1 {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg_back_1 {
    background-color: #FFF;
    padding: 8px 10px;
}

.svg_back_1:hover {
    background-color: #F16D7F;
    fill: white;
}

.svg_back_2 {
    background-color: #FFF;
    padding: 7.5px 7px;
}

.svg_back_2:hover {
    background-color: #F16D7F;
    fill: white;
}

.svg_back_3 {
    background-color: #FFF;
    padding: 8px 10px;
}

.svg_back_3:hover {
    background-color: #F16D7F;
    fill: white;
}

.svg_back_4 {
    background-color: #FFF;
    padding: 8px;
}

.svg_back_4:hover {
    background-color: #F16D7F;
    fill: white;
}

.logo_pos {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .conteiner {
        max-width: 1024px;
    }

    .logo_conteiner {
        max-width: 700px;
    }

    .section1 {
        max-width: 1024px;
    }

    .menu {
        display: none;
    }

    .new_conteiner {
        max-width: 734px;
    }

    .h1_text {
        width: 300px;
        padding-right: 34px;
    }

    .h1_1 {
        font-size: 44px;
    }

    .h2_1 {
        font-size: 24px;
    }

    .h2_2 {
        font-size: 24px;
    }

    .nav_sec1 {
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }

    .new_navigation {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .card_1 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_2 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_3 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_4 {
        height: 116px;
        background-size: 100% 100%;
    }

    .new_navigation2 {
        padding-top: 20px;
    }

    .h2_text_new {
        padding-top: 110px;
        padding-bottom: 3px;
    }

    .p_text_new {
        padding-bottom: 73px;
    }

    .new_navigation3 {
        row-gap: 15px;
    }

    .flex_button {
        margin-top: 33px;
        margin-bottom: 65px;
    }

    .foot_1 {
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .nav_foot_1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
    }

    .women_photo {
        width: 360px;
        padding-top: 64px;
        padding-bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .women_right_text {
        padding-top: 0px;
    }

    .nav_foot_2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 48px;
    }

    .foot_2 {
        background-size: 350%;
        background-position: -400px;
    }

    .form_1 {
        padding-bottom: 140px;
    }

    .art_cont_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 305px;
    }
}

@media (max-width: 767px) {
    .conteiner {
        max-width: 375px;
    }

    .logo_conteiner {
        max-width: 343px;
    }

    .svg_none {
        display: none;
    }

    .ul_logo_group {
        flex-direction: row-reverse;
    }

    .numb {
        display: none;
    }

    .section1 {
        padding-top: 148px;
        padding-bottom: 148px;
        max-width: 375px;
    }

    .menu {
        display: none;
    }

    .men_flex {
        display: none;
    }

    .nav_sec1 {
        display: flex;
        justify-content: center;
    }

    .h1_text {
        width: 250px;
    }

    .h1_1 {
        font-size: 38px;
    }

    .h2_1 {
        font-size: 20px;
    }

    .h2_2 {
        font-size: 20px;
    }

    .new_conteiner_mob {
        max-width: 343px;
    }

    .card_4 {
        height: 111px;
        background-position: center;
        background-size: cover;
    }

    .h2_text_new {
        padding-top: 64px;
        padding-bottom: 3px;
    }

    .p_text_new {
        padding-bottom: 65px;
    }

    .new_conteiner {
        max-width: 360px;
    }

    .new_navigation3 {
        row-gap: 17px;
    }

    .flex_button {
        margin-top: 41px;
        margin-bottom: 96px;
    }

    .foot_1 {
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .nav_foot_1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 46px;
    }

    .women_photo {
        padding-top: 64px;
        padding-bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .women_text {
        width: 300px;
        font-size: 18px;
    }

    .women_right_text {
        padding-top: 0px;
    }

    .women_right_text_p {
        font-size: 14px;
    }

    .nav_foot_2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 59px;
    }

    .foot_2 {
        background-size: 550%;
        background-position: -450px;
    }

    .form_1 {
        padding-bottom: 110px;
    }

    .art_cont_flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .logo_pos {
        padding-top: 43px;
    }

    .foot_text_p {
        padding-top: 40px;
        padding-bottom: 10px;
    }
}