* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFF;
}

img {
    max-width: 100%;
    display: block;
}

.conteiner {
    max-width: 1600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background: #222;
}

.navigation {
    display: flex;
    justify-content: center;
}

.logo_conteiner {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_group1 {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_group2 {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2 {
    padding-top: 6px;
}

.section1 {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F1E4E6;
}

.nav_sec1 {
    display: flex;
    gap: 60px;
}

.h1_flex {
    display: flex;
    align-items: center;
}

.h1_text {
    padding-left: 16px;
    border-left: 12px #F16D7F solid;
    max-width: 400px;
}

.h1_1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.h2_1 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h2_2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new_conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.new_navigation {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.new_navigation2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.h4_text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3_text {
    color: #F16D7F;
    font-family: Lato;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_1 {
    width: 360px;
    height: 260px;
    background-image: url(../img/women.png);
}

.card_2 {
    width: 360px;
    height: 260px;
    background-image: url(../img/men2.png);
}

.card_3 {
    width: 360px;
    height: 260px;
    background-image: url(../img/men3.png);
}

.card_4 {
    width: 1140px;
    height: 180px;
    background-image: url(../img/image777.png);
}

.card_collor {
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_collor_4 {
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2_text_new {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 6px;
}

.p_text_new {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 50px;
}

.new_navigation3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.new_text {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.new_h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.new_p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 305px;
    padding-bottom: 16px;
}

.new_h4 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex_button {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 40px;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .conteiner {
        max-width: 1024px;
    }

    .logo_conteiner {
        max-width: 700px;
    }

    .section1 {
        max-width: 1024px;
    }

    .new_conteiner {
        max-width: 734px;
    }

    .h1_text {
        width: 300px;
        padding-right: 34px;
    }

    .h1_1 {
        font-size: 44px;
    }

    .h2_1 {
        font-size: 24px;
    }

    .h2_2 {
        font-size: 24px;
    }

    .nav_sec1 {
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }

    .new_navigation {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .card_1 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_2 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_3 {
        height: 168px;
        background-size: 100% 100%;
    }

    .card_4 {
        height: 116px;
        background-size: 100% 100%;
    }

    .new_navigation2 {
        padding-top: 20px;
    }

    .h2_text_new {
        padding-top: 110px;
        padding-bottom: 3px;
    }

    .p_text_new {
        padding-bottom: 73px;
    }

    .new_navigation3 {
        row-gap: 15px;
    }

    .flex_button {
        margin-top: 33px;
        margin-bottom: 70px;
    }


}